<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="container">


    <form class="mx-auto w-25 bg-blur rounded"
          th:method="post"
          th:action="@{/albums/add}"
          th:object="${albumDTO}">
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-3">Name</label>
            </div>
            <input th:field="*{name}" th:errorclass="'is-invalid alert-danger'"
                    type="text" class="form-control" id="name" name="name"/>
            <small th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}"
                    class="text-warning">Error message</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="artistDropdown" class="h4 mb-3 mt-3">Contributing Artists</label>
            </div>
            <div class="dropdown">
                <button th:errorclass="'is-invalid alert-danger'"
                        name="artists"
                        class="dropdown-toggle btn-light input-group-text form-control" type="button"
                        id="artistDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Select Artists
                </button>
                <ul class="dropdown-menu form-control " aria-labelledby="artistDropdown" id="artistsList"
                onclick="event.stopPropagation()">

                    <input  onkeyup="filterListByInput('artistsSearch', 'artists')"
                            type="text" placeholder="Search artists" class="mb-2 form-control" id="artistsSearch"
                            name="artistsSearch"/>
                    <li id="artists" class="form-check" th:each="artist:${artists}">

                        <input class="form-check-input artist-checkbox" onchange="selectArtists()"
                               type="checkbox" th:field="*{artists}"
                               th:value="${artist.id}"
                               th:id="${'artist' + artist.id}">
                        <label class="form-check-label" th:for="${'artist' + artist.id}" th:text="${artist.name.trim()}">

                        </label>

                    </li>

                </ul>
                <small  th:if="${#fields.hasErrors('artists')}"
                        th:errors="*{artists}"
                        class="text-warning">Error message</small>
            </div>
        </div>

        <div class="button-holder d-flex justify-content-center mt-2">
            <button type="submit" class="btn btn-success btn-lg mb-3" value="Add_Album">Add Album</button>
            <br/>

        </div>
    </form>
</main>
<script src="/js/main.js">
</script>
</body>
</html>