<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="fragments/commons::head">
</head>
<script src="/js/allUsers.js"></script>
<body>

<div>
    <header th:replace="fragments/commons::nav"></header>
    <div class="container-fluid mt-3">


        <div id="tableParent" class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
            <div class="col-12">
                <h2 class="text-light mb-3  text-center">All Users</h2>
                <div class="col text-center mb-3">
                    <button onclick="loadUsers()"
                            sec:authorize="hasRole('ADMIN')"
                            class="btn btn-primary">Load users
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>