<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="container">


    <form class="mx-auto w-25 bg-blur rounded"
          th:enctype="'multipart/form-data'"
          th:method="post"
          th:action="@{/playlists/add}"
          th:object="${playlistDTO}">
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2">Name</label>
            </div>
            <input th:field="*{name}" th:errorclass="'is-invalid alert-danger'"
                   type="text" class="form-control" id="name" name="name"/>
            <small th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}"
                   class="text-warning">Error message</small>
        </div>
        <div class="form-group mb-3" >
            <div class="text-white label-holder d-flex justify-content-center mt-3">
                <label for="image" class="h5 mb-2">Select image</label>
            </div>
            <input  onchange="checkImageSize()"
                    th:field="*{image}" th:errorclass="'is-invalid alert-danger'"
                   value="Choose image" type="file" name="image" accept="image/*" id="image"/>
            <small th:if="${#fields.hasErrors('image')}"
                   th:errors="*{image}"
                   class="text-warning">Error message</small>
        </div>


        <div class="button-holder d-flex justify-content-center mt-2">
            <button id = 'btnSubmit'
                    type="submit" class="btn btn-success btn-lg mb-3" value="Create_Playlist">Create Playlist</button>

        </div>
    </form>
</main>
</body>
</html>