<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="container">

    <form class="mx-auto w-25 bg-blur rounded"
          th:method="post"
          th:action="@{/users/login}"
    >
        <div class="form-group mt-4">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="username" class="h5 mb-2">Username</label>
            </div>
            <input th:value="${username}"
                   type="text" class="form-control" id="username" name="username"/>
        </div>

        <div class="form-group mt-4">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="password" class="h5 mb-2">Password</label>
            </div>
            <input
                    type="password" class="form-control" id="password" name="password"/>
            <small th:if="${invalidCredentials}"
                   class="text-warning mt-3">Incorrect username or password!</small>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-lg mb-3 mt-3">Login</button>
        </div>
        <div>
            <p>Don't have an account?
                <a th:href="@{/users/register}" type="button" class="btn btn-link mb-1">Sign up</a>
            </p>
        </div>
    </form>
</main>
</body>
</html>