<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/commons::head">
</head>
<script src="/js/getLink.js"></script>
<body>

<div>

    <header th:replace="fragments/commons::nav"></header>
    <div class="container-fluid mt-3">

        <span id="playlistId" th:title="${currentPlaylist.id}"></span>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
            <div class="col-12">
                <h2 th:text="${currentPlaylist.name}" class="text-light mb-3  text-center"></h2>
                <h2 th:if="${songs.isEmpty()}" class="text-warning mb-3 mt-5  text-center">
                    Let's add some songs!

                </h2>
                <div class="col text-center">
                    <a th:if="${songs.isEmpty()}"
                       class="btn btn-lg btn-success mt-3 mb-3" href="/songs/all" role="button">Explore songs</a>
                </div>
                <h3 th:if="${!songs.isEmpty()}"
                    th:text="|Duration: ${currentPlaylist.playlistDurationFormat}|"
                    class="text-light mb-3  text-center"></h3>
                <div th:if="${#authentication.name == currentPlaylist.userEntity.username}"
                     class="col text-center mb-3">
                    <a id="share-button" onclick="getLink()" class="btn btn-primary">Share playlist</a>
                </div>
            </div>

            <table th:if="${!songs.isEmpty()}" class="table table-striped text-light">

                <tbody>
                <tr class="text-light text-center">
                    <th>Title</th>
                    <th>Contributing artists</th>
                    <th>Album</th>
                    <th>Genre</th>
                    <th>Duration</th>
                    <th th:if="${#authentication.name == currentPlaylist.userEntity.username}">Action</th>
                </tr>
                <tr th:each="song: ${songs}" class="text-light text-center">
                    <td th:text="${song.getName()}">Song Title</td>
                    <td th:text="${song.getArtistsNames()}">Artists</td>
                    <td th:text="${song.album.name}">Album</td>
                    <td th:text="${song.genre.value}">Genre</td>
                    <td th:text="${song.formattedDuration}">Duration</td>
                    <td th:if="${#authentication.name == currentPlaylist.userEntity.username}">
                        <form
                                th:method="delete"
                                th:action="@{/playlists/{playlistId}/remove/{songId}(playlistId = ${currentPlaylist.id}, songId = *{song.id})}">
                            <button type="submit"
                                    class="btn btn-danger">Remove
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>

    </div>
</div>

</body>

</html>