<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="container">

    <form class="mx-auto w-25 bg-blur rounded"
          th:method="post"
          th:action="@{/users/register}"
          th:object="${registerDTO}">
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="username" class="h5 mb-2">Username</label>
            </div>
            <input th:field="*{username}" th:errorclass="'is-invalid alert-danger'"
                   type="text" class="form-control" id="username" name="username"/>
            <small th:if="${#fields.hasErrors('username')}"
                   th:errors="*{username}"
                   class="text-warning">Username error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="email" class="h5 mb-2">Email</label>
            </div>
            <input th:field="*{email}" th:errorclass="'is-invalid alert-danger'"
                   type="text" class="form-control" id="email" name="email"/>

            <small th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}"
                   class="text-warning">Email error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="name" class="h5 mb-2">Name</label>
            </div>
            <input th:field="*{name}" th:errorclass="'is-invalid alert-danger'"
                    type="text" class="form-control" id="name" name="name"/>

            <small th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}"
                    class="text-warning">Name error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="password" class="h5 mb-2">Password</label>
            </div>
            <input th:field="*{password}" th:errorclass="'is-invalid alert-danger'"
                   type="password" class="form-control" id="password" name="password"/>
            <small th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}"
                   class="text-warning">Password error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="confirmPassword" class="h5 mb-2">Confirm Password</label>
            </div>
            <input th:field="*{confirmPassword}" th:errorclass="'is-invalid alert-danger'"
                   type="password" class="form-control" id="confirmPassword"
                   name="confirmPassword"/>
            <small th:if="${#fields.hasErrors('confirmPassword')}"
                   th:errors="*{confirmPassword}"
                    class="text-warning">Confirm Password error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-lg mb-3 mt-3" value="Register">Register</button>

        </div>
        <div>
            <p>Already have an account? <button type="button" class="btn btn-link mb-1">Log in</button>
            </p>
        </div>
    </form>
</main>
</body>
</html>