<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head">
</head>
<body>

<div>
    <header th:replace="fragments/commons::nav"></header>
    <div class="container-fluid mt-3">


        <div class="row mb-3">
            <div class="col-12">
                <h2 class="text-light mb-3  text-center" th:text="${title}"></h2>
                <div th:switch="${title}" class="col text-center mb-3">
                    <a      sec:authorize="hasRole('ADMIN')"
                            th:case="'Songs'" th:href="@{/songs/add}" class="btn btn-primary">Add New</a>
                    <a      sec:authorize="hasRole('ADMIN')"
                            th:case="'Artists'" th:href="@{/artists/add}" class="btn btn-primary">Add New</a>
                    <a      sec:authorize="hasRole('ADMIN')"
                            th:case="'Albums'" th:href="@{/albums/add}" class="btn btn-primary">Add New</a>
                </div>
            </div>
            <div th:if="${title.equals('Songs')}" th:each="song:${songs}" class="col-lg-2 col-md-6 col-sm-12">
                <div class="card bg-light text-dark mb-3">
                    <img th:src="${song.imageUrl}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 th:text="${song.getName()}" class="card-title">Song Name</h5>
                        <p th:text="${song.album.name}" class="card-text">Album</p>
                        <p th:text="${song.getArtistsNames()}" class="card-text">Artists</p>
                        <a sec:authorize="isAuthenticated()"
                           th:href="@{/playlists/add/{id}(id = ${song.id})}" class="btn btn-primary">Add to playlist</a>
                        <form
                                th:action="@{/songs/remove/{id}(id = *{song.id})}"
                                th:method="delete"
                        >
                            <button type="submit" sec:authorize="hasRole('ADMIN')"
                                    class="btn btn-danger mt-3">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <div th:if="${title.equals('Albums')}" th:each="album:${albums}" class="col-lg-2 col-md-6 col-sm-12">
                <div class="card bg-light text-dark mb-3">
                    <a class="card-img-top" th:href="@{/albums/view/{id}(id = *{album.id})}">
                    <img th:src="${album.imageUrl}" class="card-img-top" alt="">
                    </a>
                    <div class="card-body">
                        <h5 th:text="${album.name}" class="card-title">Album Name</h5>
                        <p th:text="${album.getArtistsNames()}" class="card-text">Artist Name</p>
                        <form
                                th:action="@{/albums/remove/{id}(id = *{album.id})}"
                                th:method="delete"
                        >
                        <button type="submit" sec:authorize="hasRole('ADMIN')"
                                class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <div th:if="${title.equals('Artists')}" th:each="artist:${artists}" class="col-lg-2 col-md-6 col-sm-12">
                <div class="card bg-light text-dark mb-3">
                    <a class="card-img-top" th:href="@{/artists/view/{id}(id = *{artist.id})}">
                        <img th:src="${artist.imageUrl}" class="card-img-top" alt="">
                    </a>
                    <div class="card-body">
                        <h5 th:text="${artist.name}" class="card-title">Artist Name</h5>
                        <form
                                th:action="@{/artists/remove/{id}(id = *{artist.id})}"
                                th:method="delete"
                        >
                            <button type="submit" sec:authorize="hasRole('ADMIN')"
                                    class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

</body>
</html>