<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>

Hello, <th:block th:text="${username}"></th:block>!

<p th:text="|Due to inactivity, your account is set to be deleted on ${deletionDate}.  Log in to keep your account.|">

</p>

<p>
    Best regards,
    Music Box Team
</p>

</body>
</html>